enhanced_tech_director_reminder.json
{
  "name": "Enhanced Technical Director Reminder System",
  "nodes": [
    {
      "parameters": {
        "path": "7514d383-c720-4dd3-9251-061d66a86a6a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "a35ee424-f6ff-4225-910f-19ae31cea2c5",
      "name": "Webhook",
      "webhookId": "7514d383-c720-4dd3-9251-061d66a86a6a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-cancellation",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "cancel_reminder",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 300],
      "id": "check-action-type",
      "name": "Check if Cancellation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-ticket-id",
              "name": "ticket_id",
              "value": "={{ $json.body.ticket_id }}",
              "type": "string"
            },
            {
              "id": "set-subject",
              "name": "subject",
              "value": "={{ $json.body.subject }}",
              "type": "string"
            },
            {
              "id": "set-customer-name",
              "name": "customer_name",
              "value": "={{ $json.body.customer_name }}",
              "type": "string"
            },
            {
              "id": "set-vehicle-reg",
              "name": "vehicle_registration",
              "value": "={{ $json.body.vehicle_registration }}",
              "type": "string"
            },
            {
              "id": "set-priority",
              "name": "priority",
              "value": "={{ $json.body.priority }}",
              "type": "string"
            },
            {
              "id": "set-tech-email",
              "name": "tech_director_email",
              "value": "={{ $json.body.tech_director_email }}",
              "type": "string"
            },
            {
              "id": "set-ticket-url",
              "name": "ticket_url",
              "value": "={{ $json.body.ticket_url }}",
              "type": "string"
            },
            {
              "id": "set-dashboard-url",
              "name": "dashboard_url",
              "value": "={{ $json.body.dashboard_url }}",
              "type": "string"
            },
            {
              "id": "set-context",
              "name": "reminder_context",
              "value": "={{ $json.body.reminder_context }}",
              "type": "string"
            },
            {
              "id": "set-referral-date",
              "name": "referral_date",
              "value": "={{ $json.body.referral_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 200],
      "id": "6227c2ec-1c7c-4bd8-b048-a3f9532bc110",
      "name": "Extract Ticket Data"
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "name": "Technical Director Reminder Assistant",
        "description": "Generate professional and personalized reminder messages for Technical Director about pending ticket reviews",
        "instructions": "You are an AI assistant helping AutoAssistGroup's support system. Generate professional, urgent but respectful reminder emails to Marc (Technical Director) about pending technical reviews.\n\nContext: {{ $json.reminder_context }}\n\nCreate a professional email reminder that:\n1. Is respectful but conveys urgency\n2. Includes key ticket details\n3. Mentions the customer is waiting\n4. Provides direct action links\n5. Uses a professional but friendly tone\n6. Includes vehicle registration if available\n7. Emphasizes the technical expertise needed\n\nFormat as a complete email message with subject and body. Make it personal and specific to this ticket.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [800, 200],
      "id": "2b8d999e-6965-4595-89cd-89e6283cda25",
      "name": "Generate AI Reminder",
      "credentials": {
        "openAiApi": {
          "id": "Fc3r0hvoDoXYQIye",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Extract Ticket Data').item.json.tech_director_email }}",
        "subject": "🔴 URGENT: Technical Review Required - Ticket #{{ $('Extract Ticket Data').item.json.ticket_id }}",
        "bodyContentType": "html",
        "body": "=Dear Marc,<br><br>\n\n{{ $json.output }}<br><br>\n\n<strong>🎫 Quick Details:</strong><br>\n• Ticket ID: #{{ $('Extract Ticket Data').item.json.ticket_id }}<br>\n• Customer: {{ $('Extract Ticket Data').item.json.customer_name }}<br>\n• Subject: {{ $('Extract Ticket Data').item.json.subject }}<br>\n• Vehicle: {{ $('Extract Ticket Data').item.json.vehicle_registration }}<br>\n• Priority: {{ $('Extract Ticket Data').item.json.priority }}<br>\n• Referred: {{ $('Extract Ticket Data').item.json.referral_date }}<br><br>\n\n<strong>🔗 Quick Actions:</strong><br>\n<a href=\"{{ $('Extract Ticket Data').item.json.ticket_url }}\" style=\"background: #28a745; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px; margin-right: 10px;\">📖 Review Ticket</a>\n<a href=\"{{ $('Extract Ticket Data').item.json.dashboard_url }}\" style=\"background: #17a2b8; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px;\">🎛️ Dashboard</a><br><br>\n\nBest regards,<br>\nAutoAssistGroup Support System",
        "additionalFields": {
          "importance": "high"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1000, 200],
      "id": "e09e194f-39a7-42b2-8bc8-61015b93dd51",
      "name": "Send Reminder Email",
      "webhookId": "d29664c7-07e6-4cc5-82eb-bad4af428a23",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "dagqH9x7K5b48a9U",
          "name": "usamanyousaff@outlook.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log the reminder cancellation\nconst ticketId = $input.first().json.body.ticket_id;\nconst reason = $input.first().json.body.reason || 'Not specified';\nconst respondedBy = $input.first().json.body.responded_by || 'Unknown';\n\nconsole.log(`✅ Reminder cancelled for ticket ${ticketId}`);\nconsole.log(`   Reason: ${reason}`);\nconsole.log(`   Responded by: ${respondedBy}`);\nconsole.log(`   Cancelled at: ${new Date().toISOString()}`);\n\nreturn {\n  json: {\n    status: 'reminder_cancelled',\n    ticket_id: ticketId,\n    reason: reason,\n    responded_by: respondedBy,\n    cancelled_at: new Date().toISOString(),\n    message: `Reminder successfully cancelled for ticket ${ticketId}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400],
      "id": "log-cancellation",
      "name": "Log Cancellation"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check if Cancellation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Cancellation": {
      "main": [
        [
          {
            "node": "Extract Ticket Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Cancellation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ticket Data": {
      "main": [
        [
          {
            "node": "Generate AI Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Reminder": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "enhanced-tech-director-reminder-v1",
  "meta": {
    "instanceId": "f3f0a8710c1cc8844dc14d1e67ca835c0e6589a503af3c5393dcd535b7b5e7ee"
  },
  "id": "EnhancedTechDirectorReminder",
  "tags": [
    {
      "createdAt": "2025-01-03T17:00:00.000Z",
      "updatedAt": "2025-01-03T17:00:00.000Z",
      "id": "cH3bMRG0Dfjr9Qu3",
      "name": "Enhanced Technical Director Reminders"
    }
  ]
}